<link href="../assets/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
  <ul type="none" class="p-2 lh-lg border-end">
    <li>
      <a href="/dashboard" class="text-decoration-none fs-4">Home</a>
    </li>

    <li>
      <a href="/view_registration" class="text-decoration-none fs-4">view_registration</a>
    </li>

    
    <li>
        <a href="/addproduct" class="text-decoration-none fs-4">Add product </a>
    </li>
    <li>
      <a href="/product" class="text-decoration-none fs-4">View product </a>
  </li>
  </ul>
</div>