<link rel="stylesheet" href="assets/bootstrap-5.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/index.css">
<!-- navbar starts -->

<%- include('./common/header.ejs') %>

<!-- navbar ends -->

<!-- banner section -->
<div class="container-xxl p-0 mt-2 ">

    <img src="assets/eugenio-mazzone-6ywyo2qtaZ8-unsplash.jpg" class="d-block w-100"> 

<!-- banner ends -->


<div class="container-fluid">
<div class="col clr">
   <p class="fs-1 bg-success mt-2"> Dear readers,</p>

<p>We offer a huge collection of books from diverse categories of Fiction, Non-fiction, Biographies, History, Religion, Self-Help, etc. We also offer a collection of Investments and Management, Computers, Engineering, Medical, College and School text reference books.</p>

<p>We strive for customer satisfaction by offering a user-friendly search engine, efficient payment options and seamless delivery systems. Apart from all this, we also provide great deals and discounts on our products.</p>

<p>All the Publishers, Distributors and Authors around the country are welcome to partner with us and grow the Bookswagon family. We would like to thank our customers for shopping with us. You can write to us on our e-mail id to share any suggestions or feedback you might have regarding our website or services.</p>
</div>

</div>

<!-- footer starts -->
<%- include('./common/footer.ejs') %>
<!-- footer ends -->