<link rel="stylesheet" href="assets/bootstrap-5.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/index.css">


<!-- header starts -->
<%-include('common/header.ejs')%>
<!-- header end -->


<div class="container-fluid img">
    <div class="col fs-1 mb-2 mt-3 bg-success "> Trending Books</div>
    
         <div class="row">
    <div class="col"><p>Love hypnothesis</p><img src="assets/9780593336823.jpg"></div>
    <div class="col"><p>Ugly Love</p><img src="assets/9781476753188 (1).jpg"></div>
    <div class="col"><p>Naruto</p><img src="assets/9781569319000.jpg"></div>
    <div class="col"><p>Seven husbands of evelyn hugo</p><img src="assets/9781501161933.jpg"></div>
    </div>
    

    <div class="row ">
    <div class="col"><p>November 9</p><img src="assets/9781501110344.jpg"></div>
    <div class="col"><p>The secret</p><img src="assets/9781847370297.jpg"></div>
    <div class="col"><p>The midnight libary</p><img src="assets/9781786892720.jpg"></div>
    <div class="col"><p>A Good girl's guide to mother </p><img src="assets/9781405293181.jpg"></div>
         </div>   

         <div class="row ">
            <div class="col"><p>Baby touch</p><img src="assets/9780241379127.jpg "></div>
            
            <div class="col"><p>It ends with us</p><img src="assets/9781476753188 (1).jpg"></div>
            
            <div class="col"><p>Ugly Love</p><img src="assets/9781476753188 (1).jpg"></div>
    <div class="col"><p>Naruto</p><img src="assets/9781569319000.jpg"></div>
                 </div>   
        </div>


        <!-- footer starts -->
        <%-include('common/footer.ejs')%>
         <!-- footer end -->