<link rel="stylesheet" href="assets/bootstrap-5.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/index.css">


<!-- header starts -->
<%-include('common/header.ejs')%>

<div class="col-4"><img src="/<%= usedta.ProductImage %>"><p>Vagabond(Vizbing Edition),vol1</p></div>
    <!-- <div class="col"><p>Grandmaster of Demonic</p><img src="assets/9781685798406.jpg"></div>
    <div class="col"><p>20th Century Boys Vol1</p><img src="assets/9781421599618.jpg"></div>
    <div class="col"><p>Chainsaw man vol.1</p><img src="assets/9781974709939.jpg"></div> -->
    <!-- <h6 class="btn btn-info" ><a href="/productdetail/<%= movies1.contact %>">More</a></h6> -->

</div>



<!-- footer starts -->
<%-include('common/footer.ejs')%>