<div class="container-fluid  text-dark  ">
    <div class="row mt-2 mb-2  pt-2">
      <div class="col fs-1 box">Our branches</div>
    
    
      <div class="row mt-2 mb-2 ">
      <div class="col">
      <p>Agra </p>
      <p> Ahmedabad</p> 
        <p> Ahmednagar</p> 
          <p> Ajmer</p> 
          </div>

          <div class="col"> <p>  Aligarh</p> 
            <p> Kolkata</p> 
            <p> Kota</p> 
            <p>Ludhiana</p>
          </div>
          
          <div class="col"><p>  Amritsar</p> 
            <p> Belagavi</p>
            <p>Lucknow</p>
                      <p> Asansol</p> </div>
                     <div class="col">  <p> Bengaluru</p> 
                          <p>Bhavnagar</p> 
                            <p> Bhilai</p> 
                            <p>Bhubaneswar</p> </div>
                            <div class="col">  <p>Bikaner</p>
                            <p>Jalandhar</p> 
                            <p> Jamnagar</p> 
                            <p>Mussoorie</p> </div>
                              

    </div></div></div>

   <div class="container-fluid text-dark">
    <div class="row text-center box1">
    <div class="col mt-4 mb-3">
      
       <i class="fa-brands fa-youtube" style="font-size: 50px;" ></i> 
      <i class="fa-brands fa-twitter" style="font-size: 50px;"></i>
      <i class="fa-brands fa-whatsapp" style="font-size: 50px;"></i>
      <i class="fa-brands fa-facebook" style="font-size: 50px;"></i>
    </div>
    </div>  
    </div>
    
    <script src="../assets/bootstrap-5.3.1-dist/js/bootstrap.bundle.js"></script>